/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

/* NavBar Color ================================================= */
.navbar-inner{
  background-color: white;
}
.title{
  color: black;
  text-align: center!important;
}
.img{
  max-width: 100%;
  height: auto;
  margin: auto;
}
.image-cover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;

  object-fit: contain;
  object-position: center top;
  padding: 2px;
  border: 2px solid #f15a22;
}
.navbar .title {
  margin: 0 16px;
  width: 100% !important;
  font-family: cursive;
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
}