/* Your app styles here */


.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}


.toolbar {
  background: #f15a22 !important;
}

.volt-card {
    background-image: url(../img/langara-logo.png);
    height: 100px;
    background-color: #f15a22;
  }

.button.button-fill{
  background-color: #f15a22 !important;
}

.navbar {
  height: 56px;
  background: #ffffff !important;
  color: #f15a22 !important;
  font-size: 20px;
  font-family: cursive;
  font-weight: 800;
}