/* Your app styles here */


.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

/* NavBar Color ================================================= */
.navbar-inner{
  background-color: white;
}
.title{
  color: black;
  text-align: center!important;
}
.img{
  max-width: 100%;
  height: auto;
  margin: auto;
}
.image-cover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;

  object-fit: contain;
  object-position: center top;
  padding: 2px;
  border: 2px solid #f15a22;
}
.navbar .title {
  margin: 0 16px;
  width: 100% !important;
  font-family: cursive;
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
}
.logo{
  width: 95px;
  height: 95px;
}
.image-about{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2rem 6rem;
  margin-bottom: -3rem;
  object-fit: contain;
  object-position: center top;
  padding: 2px;
  border: 2px solid #f15a22;
}
.about-body{
  margin: 0 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: .75rem;
}
.feedback-list li{
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-gap: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
  border-radius: 1rem;
}
.feedback-list ul{
  padding: 0 1rem;
}
.feedback-list li img{
  margin: 1rem auto;
}
.feedback{
  margin: .5rem auto;
}
.happywall{
  font-family: cursive;
  text-align: center;
  margin-top: 4rem;
}
/* Text Me button ==================================== */
.md .button.button-outline{
  border:1px solid #f15a22;
}
.md .button{
  color: #f15a22;
  font-weight: bold;
}
.toolbar {
  background: #f15a22 !important;
}

.volt-card {
    background-image: url(../img/langara-logo.png);
    height: 100px;
    background-color: #f15a22;
  }

.button.button-fill{
  background-color: #f15a22 !important;
}

.navbar {
  height: 56px;
  background: #ffffff !important;
  color: #f15a22 !important;
  font-size: 20px;
  font-family: cursive;
  font-weight: 800;
}

.flag-icon{
  float: right;
  margin-right: 10px;
}

.card-content{
  padding: 3px;
}

.profile  {
    width: 200px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

.main-profile{
    text-align: center;
    margin-top: 5%;  
}

.popup-open{
  color: #000!important;
}

.thank-button{
  background: #f15a22;
  color: white !important;
  width: 60%;
  text-transform: none !important;
  float: right;
  margin-top: 10px;
}








/* Chat Css */

.messages {
  flex-grow: 1;
  padding: 20px 30px;
  overflow: auto;
  position: relative;
}
.message {
  display: flex;
  flex-direction: column;
}
.mine {
  align-items: flex-end;
}
.theirs {
  align-items: flex-start;
}
.message__name {
  padding-top: 10px;
  cursor: pointer; 
}
.message__bubble {
  padding: 15px;
  border-radius: 5px;
  word-break: break-word;  /* this will break long words e.g. urls */   
  box-shadow: rgba(156, 172, 172, 0.4) 0px 8px 8px;
}
.theirs .message__bubble {
  background: #6363bf;
  color: white;
}
.mine .message__bubble {
  background: #aea;
}


.footer {
  line-height: 76px;
  border-top: 1px solid rgba(156, 172, 172, 0.2);
  display: flex;
  flex-shrink: 0;
}
input {
  height: 76px;
  border: none;
  flex-grow: 1;
  padding: 0 15px;
  font-size: 16px;
  background: transparent;
  color:#777;
  z-index: 10;
}
.send_button {
  border: none;
  background: #eee;
  color: black;
  border-radius:  0 0 5px 0 ;
  padding: 0 25px;
  height: 100%;
  font-size: 16px;
  box-shadow: none;
  z-index: 10;
}












